@font-face {
  font-family: "inter";
  src: url("../../../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("opentype");
}

* {
  font-family: "inter";
  color: white;
}

.about-wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-wrapper p {
  grid-row: 1;
  grid-column: 2;
  width: 30vw;
  margin-left: 20px;
  font-size: 32px;
  font-weight: 400;
}

.about-wrapper img {
  margin-left: 5rem;
  width: 760px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(49, 49, 49);
}

form {
  margin-top: 16rem;
  display: grid;
  grid-row: 1;
  grid-column: 2;
  padding: 3rem;
  border-radius: 20px;
  background-color: #f2eeee;
  gap: 10px;
  width: 650px;
  height: 520px;
}

form label {
  background: none;
  color: #d2122e;
}

form input {
  color: black;
  border: none;
  background: white;
  border-radius: 20px;
  height: 2rem;
  padding: 0.5rem;
}

#message {
  height: 14rem;
  padding: 0.5rem;
  background: white;
  border: none;
  border-radius: 20px;
  color: black;
}

button {
  cursor: pointer;
  margin: auto;
  margin-top: 2rem;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
