.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  gap: 2rem;
  margin-top: 100px;
}

article img {
  border-radius: 20px;
  width: 375px;
  height: 400px;
  object-fit: cover;
}

.home-wrapper h2 {
  grid-template-rows:
  margin-top: 100px;
  margin-left: 290px;
  font-size: 32px;
  color: white;
}

.card-wrapper h3 {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  width: 375px;
  height: 80px;
  background-color: #841414;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

